<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          routerLinkActive="active"
          routerLink="/main"
          class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/main/workshop-3" class="nav-link"
          >Workshop 3
        </a>
      </li>
      <li class="nav-item">
        <app-cart-panel/>

      </li>
    </ul>
    <button class="btn btn-warning logout" (click)="logout()">Log Out</button>
  </header>
</div>
