<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="active"
          routerLink="/products"
          class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/workshop-3" class="nav-link"
          >Workshop 3
        </a>
      </li>
    </ul>
    <app-cart-panel/>
  </header>
</div>
