$text-color-primary: black;

.container {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;

    p {
        color: $text-color-primary;

        a {
            text-decoration: underline;
            font-size: 18px;
            color: $text-color-primary;

        }
    }

}