<button
  type="button"
  class="btn btn-primary"
  (click)="isOpen = true"
>
  + New Product
</button>
<app-modal title="New Product" *ngIf="isOpen" (detectClick)="onSubmit($event)">
  <form [formGroup]="form" class="form">
    <div class="row g-2 mb-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Type Product title"
          formControlName="id"
        />
        <label for="floatingInputGrid">ID</label>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGrid"
            placeholder="Type Product title"
            formControlName="name"
          />
          <label for="floatingInputGrid">Title</label>
        </div>
        <div
          *ngIf="
            form.controls.name.touched &&
            form.controls.name.invalid &&
            form.controls.name.errors
          "
        >
          <p
            class="text-danger"
            *ngIf="form.controls.name.errors['required']"
          >
            *This field is required
          </p>
          <p
          class="text-danger"
          *ngIf="form.controls.name.errors['nameRestricted']"
        >
          *Cannot name this field: Iphone
        </p>
          <p
            class="text-danger"
            *ngIf="form.controls.name.errors['minlength']"
          >
            *Minimum length
            {{ form.controls.name.errors["minlength"].requiredLength }}
          </p>
          <p
            class="text-danger"
            *ngIf="form.controls.name.errors['maxlength']"
          >
            *Max
            {{ form.controls.name.errors["maxlength"].requiredLength }}
            characters required
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelectGrid"
            formControlName="brand"
          >
            <option value="1">Apple</option>
            <option value="2">Microsoft</option>
            <option value="3">Amazon</option>
          </select>
          <label for="floatingSelectGrid">Brand</label>
        </div>
      </div>
    </div>
    <div class="col-md mb-2">
      <div class="form-floating">
        <textarea
          type="text"
          class="form-control"
          placeholder="Describe poduct"
          formControlName="description"
        ></textarea>
        <label for="floatingInputGrid">Description</label>
      </div>
    </div>
    <div class="col-md mb-2 d-flex align-items-baseline">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          placeholder="Type Product title"
          formControlName="price"
        />
        <label for="floatingInputGrid">Price</label>
        <div
          *ngIf="form.controls.price.touched && form.controls.price.invalid"
        >
          <p
            class="text-danger"
            *ngIf="
              form.controls.price.errors &&
              form.controls.price.errors['min']
            "
          >
            *Minimum price {{ form.controls.price.errors["min"].min }} *Your
            price {{ form.controls.price.errors["min"].actual }}
          </p>
        </div>
      </div>
      <div>
        <span
        class="badge rounded-pill text-bg-primary ms-2"
        *ngFor="let c of currencyList"
        (click)="addCurrency(c)"
        [ngClass]="{'text-bg-success' : c.selected}"
        >{{ c.name }}</span
      >
      </div>
    </div>
    <!-- <button class="btn-btn-seconary" type="button" (click)="updateControlValue()">Update Value</button> -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="hasFeatures"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Does you product have aditional features?
      </label>
    </div>

    <div
      class="col-md mb-2"
      formGroupName="features"
      class="nested-group"
      *ngIf="form.controls.hasFeatures.value"
    >
      <h5>Features</h5>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Type Product title"
          formControlName="color"
        />
        <label for="floatingInputGrid">color</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInputGrid"
          placeholder="Type Product title"
          formControlName="size"
        />
        <label for="floatingInputGrid">size</label>
      </div>
    </div>
    <div class="category d-flex mt-3">
      <span
        class="badge rounded-pill text-bg-primary ms-2"
        *ngFor="let c of categoryList"
        (click)="addCategory(c)"
        [ngClass]="{'text-bg-success' : c.selected}"
        >{{ c.name }}</span
      >
    </div>
    <div formArrayName="specification" class="my-3">
      <h5>Specifications</h5>
      <span class="badge rounded-pill text-bg-warning" (click)="addItemInArr('specification')">+ Add new specification</span>
        <div *ngFor="let control of form.controls.specification.controls; let i = index" class="d-flex align-items-center">
            <input class="form-control my-2" type="text" [formControlName]="i" >
            <i class="bi bi-x-lg ms-2" (click)="removeItem(control.value, 'specification')"></i>
        </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary mt-3">Submit</button> -->
  </form>
</app-modal>
